body
{
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #484848;
}

table, td, th
{
    border: 1px solid #bbb;
    padding: 4px;
    text-align: center;

    font-family: Verdana, sans-serif;
    font-size: 11px;
}

table
{
    border-collapse: collapse;
    margin-bottom: 5px;

    display: table;
    border-spacing: 2px;
    border-color: gray;

    float: left;
    margin-right: 5px;
}

tr
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody
{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

textarea
{
    max-width: 1135px;
    width: 1135px;
    height: 199px;
    margin-bottom: 5px;
    border: 1px solid #bbb;
    font-size: 10px;
}

label
{
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

span
{
    color: #145F5F;
    font-weight: bold;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1em;

    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

h2, h3
{
    font-weight: bold;
    margin-left: -2px;
}

.symbol
{
    display: inline-block;

    width: 26px;
    font-weight: bold;
}

.transparent
{
    background-color: rgba(68, 68, 68, 0.06);
}

#container
{
    width: 80%;

    display: table;
    margin: 0 auto;
}

#options input
{
    width: 300px;
}

#total
{
    padding-top: 30px;
}